@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    padding: 0px;
  }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: DelaGothicOne;
  src: url("/assets/fonts/DelaGothicOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: DbzFonts;
  src: url("/assets/fonts/Saiyan-Sans Left Oblique.ttf") format("truetype");
}

@font-face {
  font-family: Exo2;
  src: url("/assets/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
}




p, h3, #personajes {
  font-family: DelaGothicOne;

}



@use "@material/checkbox"; 
@use "@material/icon-button";
@use "@material/data-table/data-table";

@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;