<h3>Agregar : {{nuevo.nombre }}</h3>
<h3>Poder : {{nuevo.poder }}</h3>
    <hr>

<!-- <form (submit)="agregar( $event )"> -->
<form (ngSubmit)="agregar()">
    <!--<input [value]="nuevo.nombre" type="text" placeholder="Nombre"/>
    <input [value]="nuevo.poder" type="number" placeholder="Poder"/>-->
    <input name="nombre" [(ngModel)]="nuevo.nombre" type="text" placeholder="Nombre"/>
    <input name="poder "  [(ngModel)]="nuevo.poder" type="number" placeholder="Poder"/>
    <button type="submit">
        Agregar
    </button>
</form>